* {
  box-sizing: border-box;
}

body {
  background-color: #F5F7FB;
  font-family: 'Karla', sans-serif;
  color: #293264;
  margin: 0;
}

.container--start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 300px auto 0 auto;
  width: 50%;
  height: 50%;
}

.btn--start {
  width: 193px;
  height: 52px;
  border-radius: 15px;
  background-color: #4D5B9E;
  font-size: 16px;
  font-family: 'Karla', sans-serif;
  font-weight: 500;
  color: #F5F7FB;
  border: 0;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 16px;
  margin-bottom: 29px;
}

.question--page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
}

.question--section {
  width: 40%;
}

.question--section > h2 {
  font-size: 16px;
  font-weight: bold;
  color: #293264;
  font-family: 'Inter', sans-serif;
}

hr {
  border: 0.794239px solid #DBDEF0;
}

.btn--checkAnswer {
  font-family: 'Inter', sans-serif;
  background-color: #4D5B9E;
  width: 120px;
  height: 35px;
  color: #F5F7FB;
  border-radius: 10px;
  border: 0;
  font-size: 10px;
  font-weight: 600;
  margin-top: 20px;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
  display: inline-block;
  padding: 5px 10px;
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  font-weight: 500;
  background-color: #FFFFFF;
  border: 1px solid #4D5B9E;
  border-radius: 8px;
  color: #293264;
  margin-right: 15px;
  margin-bottom: 10px;
  cursor: pointer;
}

.radio-toolbar input[type="radio"]:checked + label {
  background-color: #D6DBF5;
  border: 0;
}

.endGame {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.endGame > button {
  margin: 0;
}